<br>

<br>

# ðŸ”º **MOVIE RECOMMENDATION** ðŸ”º

**STREAMLIT**

<br>

# **INDEX**

- **STEP 1: IMPORTING LIBRARIES**
- **STEP 2: LOAD DATASET**
- **STEP 3: COLUMNS SELECTION FOR ANALYSIS**
- **STEP 4: PROCESS THE GENRES** 
- **STEP 5: DEFINE THE FUNCTION TO FILTER MOVIES BY GENRE**

<br>

**IMPORTING LIBRARIES**

In [17]:
import pandas as pd
import ast

<br>

**LOAD DATASET**

In [9]:
# Load the dataset
df = pd.read_csv("https://raw.githubusercontent.com/4GeeksAcademy/k-nearest-neighbors-project-tutorial/main/tmdb_5000_movies.csv")
df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

<br>

**COLUMNS SELECTION FOR ANALYSIS**

In [14]:
# Select only the necessary columns
df = df[['title', 'genres']]

# Display the first few rows to verify the data
df.head()

,title,genres
0,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam..."
1,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""..."
2,Spectre,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam..."
3,The Dark Knight Rises,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam..."
4,John Carter,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam..."

<br>

**PROCESS THE GENRES**

In [18]:
def extract_genres(genre_json):
    """
    Extract the genre names from a JSON string.
    """
    try:
        genres = ast.literal_eval(genre_json)  # Convert the JSON text to a list of dictionaries
        return [genre['name'] for genre in genres]  # Extract only the names
    except (SyntaxError, ValueError):
        return []

# Apply the function to the 'genres' column
df['genres'] = df['genres'].apply(extract_genres)

# Display processed data
df.head()

,title,genres
0,Avatar,"[Action, Adventure, Fantasy, Science Fiction]"
1,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]"
2,Spectre,"[Action, Adventure, Crime]"
3,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]"
4,John Carter,"[Action, Adventure, Science Fiction]"

<br>

**EXTRACT UNIQUE GENRE LIST**

In [20]:
# Get the list of unique genres in all movies
unique_genres = set(genre for sublist in df['genres'] for genre in sublist)

# Convert it to a sorted list
unique_genres = sorted(unique_genres)

print("Available genres:", unique_genres)

Available genres: ['Action', 'Adventure', 'Animation', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Family', 'Fantasy', 'Foreign', 'History', 'Horror', 'Music', 'Mystery', 'Romance', 'Science Fiction', 'TV Movie', 'Thriller', 'War', 'Western']

In [25]:
# Count the number of unique genres in the dataset
num_genres = len(unique_genres)

print(f"The dataset contains {num_genres} unique genres.")

The dataset contains 20 unique genres.

<br>

**DEFINE THE FUNCTION TO FILTER MOVIES BY GENRE**

In [23]:
def get_movies_by_genre(genre):
    """
    Filters movies that contain a specific genre.
    """
    filtered_movies = df[df['genres'].apply(lambda x: genre in x)]
    return filtered_movies[['title']]

# Test with an example
get_movies_by_genre('Crime').head()

                    title
2                 Spectre
3   The Dark Knight Rises
11      Quantum of Solace
58            Rush Hour 3
65        The Dark Knight